@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');


* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #2c3e50;
    line-height: 1.6;
}

/* HEADER */
#showcase {
    background-image: url(https://cdn.pixabay.com/photo/2016/11/29/08/43/blank-1868502__340.jpg );
    background-size: cover;
    background-position: center;
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
}

#showcase h1 {
    font-size: 50px;
}

#showcase p {
    font-size: 20px;
}

#showcase .button {
    text-decoration: none;
    color: black;
    border: 2px solid #34495e;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 20px;
}

#showcase .button:hover {
    background-color: #34495e;
    color: #ecf0f1;
}

/* SECTION */
#section-a {
    padding: 20px;
    background:#34495e;
    color: #ecf0f1;
    text-align: center;
}
   
#section-b {
    padding: 20px;
    background:#ecf0f1;
    color: #34495e;
    text-align: center;
}

#section-c {
    display: flex;
    color: #34495e;
}

#section-c div {
    padding: 20px;
}

#section-c .box-1,
#section-c .box-3 {
    background: #34495e ;
    color: #ecf0f1;;
}

#section-c .box-2 {
    background: #bdc3c7;
    color: #34495e;
}
